name: scaladoc

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    outputs:
      version: ${{ steps.get.outputs.version }}

    steps:
      - uses: actions/checkout@v4
      - id: get
        run: |
          latest="$(gh release list --repo scala/scala3 --exclude-pre-releases --exclude-drafts --json isLatest,tagName --jq '.[] | select(.isLatest) | .tagName')"
          [[ -n "$latest" ]]
          echo "version=$latest" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ github.token }}

      # https://github.com/scala/scala3/blob/main/.github/workflows/scaladoc.yaml
      - name: Git Checkout
        uses: actions/checkout@v5
        with:
          repository: scala/scala3
          ref: ${{ steps.get.outputs.version }}

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'sbt'

      - uses: sbt/setup-sbt@v1
      - name: Compile and test scala3doc-js
        run: ./project/scripts/sbt scaladoc-js-main/test

      - name: Compile and test
        run: |
          ./project/scripts/sbt scaladoc/test
          ./project/scripts/sbt dist/Universal/stage
          ./project/scripts/cmdScaladocTests

      - name: Locally publish self
        run: ./project/scripts/sbt scaladoc/publishLocal

      - name: Generate self documentation
        run: ./project/scripts/sbt scaladoc/generateSelfDocumentation

      - name: Generate testcases documentation
        run: ./project/scripts/sbt scaladoc/generateTestcasesDocumentation

      - name: Generate reference documentation
        run: ./project/scripts/sbt scaladoc/generateReferenceDocumentation

      - name: Generate Scala 3 documentation
        run: ./project/scripts/sbt scaladoc/generateScalaDocumentation

      - uses: actions/upload-artifact@v4
        with:
          path: scaladoc/output
          overwrite: true
