name: scaladoc

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    outputs:
      version: ${{ steps.get.outputs.version }}

    steps:
      - uses: actions/checkout@v4
      - id: get
        run: |
          latest="$(gh release list --repo scala/scala3 --exclude-pre-releases --exclude-drafts --json isLatest,tagName --jq '.[] | select(.isLatest) | .tagName')"
          [[ -n "$latest" ]]
          echo "version=$latest" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ github.token }}

      # https://github.com/scala/scala3/blob/main/.github/workflows/scaladoc.yaml
      - name: Git Checkout
        uses: actions/checkout@v5
        with:
          repository: scala/scala3
          ref: ${{ steps.get.outputs.version }}

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'sbt'

      - uses: sbt/setup-sbt@v1

      - run: |
          sed -i 's/GenerateInkuire(true),/GenerateInkuire(true), DynamicSideMenu(true),/' project/Build.scala

      - name: Generate self documentation
        run: ./project/scripts/sbt scaladoc/generateSelfDocumentation

      - name: Generate testcases documentation
        run: ./project/scripts/sbt scaladoc/generateTestcasesDocumentation

      - name: Generate reference documentation
        run: ./project/scripts/sbt scaladoc/generateReferenceDocumentation

      - name: Generate Scala 3 documentation
        run: ./project/scripts/sbt scaladoc/generateScalaDocumentation

      - run: |
          cd scaladoc/output/scala3
          shopt -s globstar
          sed -i 's|document\.querySelectorAll("a")|[]|g' **/ux.js
          sed -i 's|https\?://dotty\.epfl\.ch/\?|/|g' **/*.html

          echo 'Not found' > 404.html

      - uses: actions/upload-artifact@v4
        with:
          path: scaladoc/output/scala3
          overwrite: true

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    steps:
      - uses: actions/download-artifact@v5
        with:
          merge-multiple: true
      - uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy . --project-name=${{ secrets.CLOUDFLARE_PROJECT_NAME }}
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v5
        with:
          merge-multiple: true
      - run: tar caf /tmp/scala-docs.tar.zst .
      - run: du -h -s . /tmp/*.zst
      - run: |
          gh release view "$VERSION" $repo --json name,assets || gh release create "$VERSION" /tmp/scala-docs.tar.zst $repo
        env:
          repo: "--repo=${{ github.repository }}"
          GH_TOKEN: ${{ github.token }}
          VERSION: ${{ needs.build.outputs.version }}
          PAGER: ""

